body {
  font-family: 'Montserrat';
  text-align: center;
}
p {
  color: #8F8F8F;
}
.big-heading {
  font-weight: 900;
  line-height: 1.5;
  font-size: 3.5rem;
}
.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}
.container-fluid {
  padding: 7% 15%;
}
/*sections*/
.colour-section{
  background-color: #FF4C68;
  color: #fff;
}
.white-section{
  background-color: #FFF;
}
/*download buttons*/
.btn-download {
  margin: 5% 3% 5% 0;
}
/* iphone image*/
.iphone-image {
  position: relative;
}
.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}
/*navigation bar*/
.navbar {
  padding-bottom: 4.5rem;
}
.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 3rem;
  font-weight: 500;
}
.nav-item {
  padding: 0 18px;
}
.nav-link {
  font-size: 1.2rem;
  font-weight: 300;
}
#title .container-fluid{
  padding: 3% 15% 7%;
  text-align: left;
}
/*Second section*/
#features {
  position: relative;
}
.feature-title {
  font-size: 1.5rem;
  font-weight: 800;
}
.icon {
  color: #EF8172;
  font-size: 50px;
}
.icon:hover {
  color: #FF4C68;
}
/*Thirth section*/
#testimonials {
  background-color: #EF8172;
  position: relative;
}
.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}
.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
#press {
  background-color: #EF8172;
  padding-bottom: 3%;
}
.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}
#pricing {
  padding: 100px;
}
.price-text {
  font-size: 3rem;
  line-height: 1.5;
}
.pricing-column {
  padding: 3% 2%;
}
.social {
  font-size: 125%;
  margin: 20px 10px;
}
@media (max-width: 1028px) {
  #title {
    text-align: center;
  }
  .title-image {
    position: static;
    transform: rotate(0);
  }
  .iphone-image {
    position: static;
    width: 100%;
  }
}
